@using BERYLLIUM.ViewModels
@model HomeViewModel
@{
    ViewData["Title"] = "Index";
}

<main>
        @await Component.InvokeAsync("Slider")
        @await Component.InvokeAsync("Work")
        @await Component.InvokeAsync("News")
        @await Component.InvokeAsync("Features")
    </main>

