<section id="slider">
    <div class="custom_container">
        <div class="slider">
            <div class="slider-item">
                <img src="https://demos.freehtml5.co/beryllium/images/slider_1.jpg" alt="image">
                <h2>Architecture #1</h2>
            </div>
            <div class="slider-item">
                <img src="https://demos.freehtml5.co/beryllium/images/slider_2.jpg" alt="image">
                <h2>Architecture #1</h2>
            </div>
            <div class="slider-item">
                <img src="https://demos.freehtml5.co/beryllium/images/slider_3.jpg" alt="image">
                <h2>Architecture #1</h2>
            </div>
        </div>
    </div>
</section>