<section id="features">
    <div class="custom_container">
        <div class="features">
            <div class="features-item">
                <div class="features_icon">
                    <i class="fa-solid fa-file-contract"></i>
                </div>
                <div class="features_text">
                    <h4>ARCHITECT</h4>
                    <h5>Lorem ipsum dolor sit ameteista, consectetur adipiscing is not elitistaris.</h5>
                    <a href="#">LEARN MORE</a>
                </div>
            </div>
            <div class="features-item">
                <div class="features_icon">
                    <i class="fa-solid fa-hammer"></i>
                </div>
                <div class="features_text">
                    <h4>PLANNING</h4>
                    <h5>Lorem ipsum dolor sit ameteista, consectetur adipiscing is not elitistaris.</h5>
                    <a href="#">LEARN MORE</a>
                </div>
            </div>
            <div class="features-item">
                <div class="features_icon">
                    <i class="fa-solid fa-plug"></i>
                </div>
                <div class="features_text">
                    <h4>PARKS & EVENTS</h4>
                    <h5>Lorem ipsum dolor sit ameteista, consectetur adipiscing is not elitistaris.</h5>
                    <a href="#">LEARN MORE</a>
                </div>
            </div>
        </div>
    </div>
</section>